h1{
    font-family: Helvetica;
    color: khaki;
    font-weight: bold;
    font-size: 100px;
    background-image: url('pattern.jpeg');
    display: inline-block;
    width: 100%;
    text-align: center;
}

h3{
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
}

span{
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}

.finish{
    background-color: skyblue;
}

.frame{
    background-color: lightcoral;
}

.brush{
    background-color: mediumspringgreen;
}